alias ../='cd ../'
alias ../../='cd ../../'
alias ~='cd ~'
alias diff='colordiff -w'
alias diffy='colordiff -y -w -W=200'
alias ll='eza -alThM --icons --git-ignore --git-repos-no-status --git -L2 --total-size --no-user'
alias llb='eza -alThMB --icons --git-ignore --git-repos-no-status --git -L2 --total-size --no-user'
alias llu='eza -alThM --icons --git-ignore --git-repos-no-status --git -L2 --total-size'
alias ssh='ssh.exe'
alias ssh-add='ssh-add.exe'
alias xx='clear'
